@{
    ViewBag.Title = "Index";
}

@using Resources
<div class="row">
    <div class="col-md-4">
        <select id="SelectEnquiry">
            <option>@Text.ChooseAnOption</option>

        </select>

    </div>
    @Html.ActionLink(@Text.Overview, "Overview", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4" })
    
</div>

<div class="row">@Html.ActionLink(@Text.Request, "Overview", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4 col-md-offset-4" })
</div>
@if (ViewContext.HttpContext.User.IsInRole("Researcher"))
{
    <div class="row ">@Html.ActionLink(@Text.Adapt, "Edit", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4 col-md-offset-4" })
</div>
    <div class="row">@Html.ActionLink(@Text.Create, "titleForm", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4 col-md-offset-4" })
</div>
    <div class="row">@Html.ActionLink(@Text.Print, "Overview", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4 col-md-offset-4" })
</div>
    <div class="row">@Html.ActionLink(@Text.Delete, "Overview", "Enquiry", null, new { @class = "btn btn-primary btn-large col-md-4 col-md-offset-4" })
</div>

}
