@<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="talen">
            <a href="@Url.Action(ViewBag.Title, new { Culture = "nl-BE" })">
                <img src="~/Content/images/nederlands.png" alt="nederlands" />
            </a>
            <a href="@Url.Action(ViewBag.Title, new { Culture = "fr-BE" })">
                <img src="~/Content/images/francais.png" alt="français" />
            </a>
        </div>
        <a href='@Url.Action("Index", "Home")'>
            <img src="~/Content/images/tuincentrum.png" alt="logo" />
        </a>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
